.titulo{
    padding-top: 20px;
    color: black;
    text-transform: capitalize;
    letter-spacing: 3px;
    text-align: center;
    font-size: small;
}

.under{
    text-decoration: underline;
}

.enlace{
    color: black;
}

.gral{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5% 0% 5% 5%;
    justify-content: center;
} 

#formulario{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 60%;
    row-gap: 5%;
    padding-bottom: 20%;
    width: 100%;
}

.contenedor{
    display:flex;
    flex-wrap: wrap;
    max-width: 48%; 
    width: 100%;
}

.input_contenedor input{
    width: 70%;
}

.input_genero{
    margin-bottom: 15px;
}


.input_contenedor{
    width: 180%;
}

.contenedor h2{
    font-size: smaller;
}

.contenedor strong{
    font-size: medium;
}

.producto_user img{
    width: 200px;
    height: 300px;
}

.pedido{
    padding-left: 5%;
    padding-right: 5%;
}

.data_product{
    border-bottom: solid 1px;
    border-color: #999;
}

.envio{
    padding: 5%;
    border-bottom: solid 1px;
    border-color: #999;
}

.submit{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 1%;
}

.button{
    border-radius: 4px;
    background-color: black;
    border: none;
    color:white;
    text-align: center;
    font-size:medium;
    font-family: Montserrat;
    padding: 20px;
    width: aut;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.submit a:hover .button{
    background-color: #99ff33;
}

@media(max-width:768px){
    #formulario{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 30%;
        
    }  
    
    .contenedor{
        padding-left: 25%;
        padding-bottom: 0%;
    }

    .input_contenedor input{
        width: 180%;
    }

    .input_contenedor{
        width: 60%;
        margin-bottom: 5%;
    }
}

.input_contenedor.correcta input{
    border: 0.1px solid;
    border-color: lightgreen;
}

.input_contenedor.fallida input{
    border: 0.1px solid;
    border-color: #fe5f55;

}

.input_contenedor p {
    visibility: hidden;
    font-size: small;
}

.input_contenedor.fallida p {
    visibility: visible;
    color:#e73623;
}

.fijo{
    background-color: gray;
    display:flex;
    justify-content: end;
}



.total{
    margin-right: 7%;
    justify-content: center;
}

.eliminar{
    border-radius: 4px;
    background-color: black;
    border: none;
    color:white;
    text-align: center;
    font-size:medium;
    font-family: Montserrat;
    padding: 20px;
    width: aut;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.eliminar:hover{
    color:#99ff33;
}

.bot-elim{
    display: flex;
    justify-content: center;
}

.no-prod{
    color: black;
    letter-spacing: 3px;
    text-align: center;
    font-size:medium;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 20%;
}