.titulo{
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    text-transform: capitalize;
    letter-spacing: 3px;
    text-align: center;
    font-size: small;
}

.flex-data{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-bottom: 1%;
}

.flex-data p{
    margin:0px;
}

.flex-data h3{
    margin:0px;
}

.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.img-prod{

    width: 80px;
    height: 120px;
    margin-bottom: 1%;
    margin-top: 1%;
}

.flex-prod{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: solid;
    border-top: solid;
    border-width: thin;
    flex-wrap: wrap;
}


.content li{
    list-style-type: none;
    text-decoration: none;
}

.about-flex{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 4%;
}

@media(max-width:634px){
    .about-flex{
        flex-direction:column;
    }
}

.ramiro{
    width: 50%;
}

.content{
    width: 40%;
    text-align: center;

    /* margin-top: 5%; */
}

.content h2{
    color: black;
    letter-spacing: 3px;
    text-align: center;
    font-size:medium;
    text-transform: uppercase;
}

.content h3{
    color: black;
    letter-spacing: 3px;
    text-align: center;
    text-align: center;
    font-size:medium;
    text-transform: uppercase;
    
}

.content p span{
    text-decoration: underline;
    color: black;
}

.content p span a{
    color:black;
}
.content p{
    font-size: medium;
}

.imagen{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    align-items: left;
}

@media (max-width: 640px) {
    .imagen{
        padding:0
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
}

.imagen li{
    margin-top: 7%;
    margin-bottom: 7%;
    padding: 3%;
    list-style-type: none;
}



.imagen a{
    color: black;
    letter-spacing: 3px;
    text-align: center;
    font-size:large;
    text-transform: uppercase;
    margin-bottom: 6%;
    text-decoration: none;
    
}

.imagen a:hover{
    border-bottom: solid;
    border-color: black;
    border-width: 0.5px;
}

.content p{
    color: black;
}

.button{
    border: none;
    color: black;
    font-family: Montserrat;
    font-size:15px;
    font-weight: bold;
    background: rgb(247, 247, 247);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 3px;
    margin:7px;
    height: fit-content;
}

.button:hover{
    color: #99ff33;
    background-color: rgb(247, 247, 247);
}

.button:focus{
    border:solid;
    border-color:#99ff33
}

.flex-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

