 body {
    font-family:"Montserrat";
    margin: 0;
    padding: 0;
    height: 100%;
} 

.general{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 95%;

}

.hdr-flex{
    display: flex;
    flex-flow: reverse-row;
    align-items: center;
    justify-content:space-around;

}

.icons a{

    text-decoration: none;
    list-style-type:none;
    padding: 25px;
    width: 10%;
}

.icon1{
    color:white;
}

.logo{
    margin-left: 3%;
    margin-top: 5%;
}

.menu a{
    font-family:"Montserrat";
    font-weight: 030;
    font-size: medium;
    color: white;
    text-decoration: none;
    list-style-type:none;
    display: inline-flex;
    padding: 20px;
}

.menu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu a:hover{
    color: #99ff33;
}
    
header{
    background-color: black;
}


p{
    color:white; 
}

footer{
    background-color: black;
}

.banner{
    width: 100%;
}

footer a{
    font-family:"Montserrat";
    margin-top: 150px;
    font-weight: 300;
    font-size: medium;
    color: white;
    text-decoration: none;
    list-style-type:none;
} 

.flex-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
}

.flex-iso{
    margin-top: 6%;
}

.flex-categ ul{
    padding-left: 0px;
}

.flex-categ a{
    margin: 3px;
}

.flex-categ a:hover{
    color: #99ff33;
}

.flex-conect li{
    margin-top:20%;
    margin-bottom:20%;
    margin-left: 22%;

}

.flex-pagos{
    height: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-right: 9%;
}


.copyright{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

