 body {
    font-family:"Montserrat";
    margin: 0;
    padding: 0;
    height: 100%;
} 

.general{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content:space-between;
}

.icons a{
    text-decoration: none;
    list-style-type:none;
    padding: 25px;
}


.icon1{
    color:white
}

.logo{
    padding-left: 25px;
}

.menu a{
    font-family:"Montserrat";
    font-weight: 030;
    font-size: medium;
    color: white;
    text-decoration: none;
    list-style-type:none;
    display: inline-flex;
    padding: 20px;
}

.menu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu a:hover{
    color: #99ff33;
}
    
header{
    background-color: black;
}


p{
    color:white; 
}

footer{
    background-color: black;
}

.banner{
    width: 100%;
}

footer a{
    font-family:"Montserrat";
    margin-top: 150px;
    font-weight: 300;
    font-size: medium;
    color: white;
    text-decoration: none;
    list-style-type:none;
} 

