.flex-prenda{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}

.imagenes{
    margin-left: 10%;
}

.imagenes img{
    width: 600px;
    height: 900px;
}

.prueba{
    width: 70%;
}

.info{
    width: 30%;
    margin-right: 10%;
    margin-bottom: 5%;
    /* margin-top: 5%; */
}

.titulo{
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    text-transform: capitalize;
    letter-spacing: 3px;
    text-align: center;
    font-size: small;
}

.descrip h2{
    color: black;
    letter-spacing: 3px;
    text-align: center;
    font-size:small
}

.descrip h3{
    color: black;
    letter-spacing: 3px;
    text-align: left;
    font-size:small
}

.guia p{
    color:black;
    letter-spacing: 1px;
    text-align: left;
    font-size:small;
    text-decoration: none;
    
}

h4{
    color: black;
    letter-spacing: 3px;
    text-align: left;
    font-size:small;
    font-weight: 900;
}

.env-camb {
    color:black;
    letter-spacing: 1px;
    text-align: left;
    font-size:small;
    text-decoration: none;
}

.color{
    display: inline-flex;
    overflow: hidden;
    border-radius: 5px;
}

.color-input{
    display: none;
}

.color-label{
    padding-right:15px;
    padding-left:15px;
    padding-top: 4px;
    padding-bottom:4px;
    font-size: 12px;
    font-family: Montserrat;
    color:black;
    background: rgb(247, 247, 247);
    cursor: pointer;
}

.color-label:not(:last-of-type){
    border-right: 1px solid grey;
}

.color-input:checked + .color-label{
    background: rgb(247, 247, 247);
    color:#99ff33;
}

.radio{
    display: inline-flex;
    overflow: hidden;
    border-radius: 5px;
}

.radio-input{
    display: none;
}

.radio-label{
    padding-right:15px;
    padding-left:15px;
    padding-top: 4px;
    padding-bottom:4px;
    font-size: 12px;
    font-family: Montserrat;
    color:black;
    background: rgb(247, 247, 247);
    cursor: pointer;
}

.radio-label:not(:last-of-type){
    border-right: 1px solid grey;
}

.radio-input:checked + .radio-label{
    background: rgb(247, 247, 247);
    color:#99ff33;
}

.button{
    text-decoration: none;
    border: none;
    color: black;
    font-family: Montserrat;
    font-size:12px;
    background: rgb(247, 247, 247);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 3px;
    margin:3px;
}

.flex-botones{
    display: inline-flex;
    flex-direction: row;
    justify-content:space-around;
}

.button:hover{
    color: #99ff33;
    background-color: rgb(247, 247, 247);
}

.guia a{
    font-size: 11px;
    color: black;
    font-weight: 900;
    letter-spacing: 3px;

}

